<nav class="navbar navbar-expand-lg bg bg-light shadow fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Symfony Advanced</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('home') }}">Principal</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('admin') }}">Panel administrativo</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {{ include('_auth-navbar-info.html.twig') }}
    </div>
</nav>